body {
        background-color: #202d28;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
}

/*MESSAGE*/
#message {
    font-size: 28px;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
}

/*TABLE*/
#tableContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
}

/*PLAYER / DEALER PANEL*/
#leftSide, #rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;          /* fix magasság */
    width: 650px;
    padding: 15px 25px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*TEXT*/
#leftSide p, #rightSide p {
    font-size: 26px;
    text-align: center;
    margin: 10px 0;
}

/*HAND*/
.handContainer {
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/*CARDS*/
.handContainer > img {
    width: 120px;
    height: auto;
    margin-left: -60px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.6);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    position: relative;
}

.handContainer > img:first-child {
    margin-left: 0;
}

/*BUTTONS*/
#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: fixed;
    bottom: 0px;
    padding: 20px;
    background-color: black;
    left: 0;
    right: 0;
}

#buttonContainer button {
    background:  #a22d2d;
    border: 0px;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
}

/* hover */
#buttonContainer button:hover {
    background:  #ff6073;
}

/* active */
#buttonContainer button:active {
    background:  #ff6073;
}