body {
    background-color: #202d28;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*MESSAGE*/

#message-background{
    position: fixed;
    inset: 0;
    z-index: 1;

    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

#message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100%;
    margin: 10px 0;
    padding: 20px;
    
    font-size: 16px;
    text-align: center;
}

/*TABLE*/
#tableContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px;
}

/*PLAYER / DEALER PANEL*/
#leftSide, #rightSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    max-height: 350px;
    width: 100%;
    width: 650px;

    padding: 15px 25px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

/*TEXT*/
#leftSide p, #rightSide p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

/*HAND*/
.handContainer {
    width: 100%;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/*CARDS*/
.handContainer > img {
    width: 120px;
    height: auto;
    margin-left: -60px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.6);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    position: relative;
}

.handContainer > img:first-child {
    margin-left: 0;
}

/*BUTTONS*/
#buttonContainer {
    display: flex;
    justify-content: center;
    gap: 15px;
    position: fixed;
    bottom: 0px;
    padding: 20px;
    background-color: black;
    left: 0;
    right: 0;
    z-index: 3;
}

#buttonContainer button {
    background:  #a22d2d;
    border: 0px;
    border-radius: 10px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}

/* hover */
#buttonContainer button:hover {
    background:  #ff6073;
}

/* active */
#buttonContainer button:active {
    background:  #ff6073;
}

/* disable */
#buttonContainer button:disabled {
  cursor: not-allowed;
  background:  #2f2f2f;
}